language: python
python :
  - "3.2"
  - "3.3"
  - "3.4"

#command to install dependencies
install:
  - pip install -r requirements.txt
  - python setup.py install

#command to run tests
script: python -m unittest test/test_prov.py